

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="d-flex justify-content-center pt-2">
  <div>
    <div class="borde-login p-4">
        <h2>Iniciar Sesión</h2>
        <div class="field form-outline mb-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%>
        </div>

        <div class="field form-outline mb-4">
          <%= f.label :contraseña %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control"%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :recuerdame %>
          </div>
        <% end %>

        <div class="actions">
          <div class="d-grid gap-2">
            <%= f.submit "Ingresar", class: "btn btn-primary"%>
        </div>
          
        </div>
      <% end %>
    <%= render "devise/shared/links" %>

    </div>
  </div>
</div>

