.container
  %h2.text-center
    Solicitud de
    =expedient.request_type
  .tabla-scroll.mb-3.pt-4
    %table.table.table-striped.mb-0
      %thead
        %tr 
          %th.text-center Nombre 
          %th.text-center Apellido 
          %th.text-center Natural/Juridico
          %th.text-center Documento de identidad 
          %th.text-center Fecha de nacimiento
          %th.text-center Cantidad Solicitada
          %th.text-center Tipo de Solicitud

        %tbody
          %tr
          %td.text-center= expedient.name
          %td.text-center= expedient.surname
          %td.text-center= expedient.person_type
          %td.text-center= expedient.document
          %td.text-center= expedient.birth_date.strftime("%d-%m-%Y")
          %td.text-center= expedient.request_quantity
          %td.text-center= expedient.request_type
                  
  .col-10.col-sm-7.col-md-8.col-lg-12.text-end
  = link_to "Regresar", expedients_path, class: "btn btn-secondary border-r-20" 