<!--<div id="<%= dom_id expedient %>">-->
  <p>
    <strong>Name:</strong>
    <%= expedient.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= expedient.surname %>
  </p>

  <p>
    <strong>Person type:</strong>
    <%= expedient.person_type %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= expedient.age %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= expedient.birth_date %>
  </p>

  <p>
    <strong>Request quantity:</strong>
    <%= expedient.request_quantity %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= expedient.document %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= expedient.email %>
  </p>

</div>
